In [1]:
import pandas as pd

In [8]:
df = pd.DataFrame(
    data = {
        'VegetableName': ['Cucumber', 'Tomato', 'Potato', 'Onion'],
        'Fat': [0.1, 0.3, 0., 0.1],
        'Carbs': [1.4, 4.2, 13., 6.9],
        'Protein': [0.4, 0.8, 1., 0.9]
    }
)

df

  VegetableName  Fat  Carbs  Protein
0      Cucumber  0.1    1.4      0.4
1        Tomato  0.3    4.2      0.8
2        Potato  0.0   13.0      1.0
3         Onion  0.1    6.9      0.9

In [9]:
print(df.index)
print(df.columns)
df.set_index('VegetableName', inplace=True)
df

RangeIndex(start=0, stop=4, step=1)
Index(['VegetableName', 'Fat', 'Carbs', 'Protein'], dtype='object')

               Fat  Carbs  Protein
VegetableName
Cucumber       0.1    1.4      0.4
Tomato         0.3    4.2      0.8
Potato         0.0   13.0      1.0
Onion          0.1    6.9      0.9

In [10]:
df.loc['Cucumber']

Fat        0.1
Carbs      1.4
Protein    0.4
Name: Cucumber, dtype: float64

In [12]:
df.iloc[2]

Fat         0.0
Carbs      13.0
Protein     1.0
Name: Potato, dtype: float64

In [13]:
df.iloc[:2]

               Fat  Carbs  Protein
VegetableName
Cucumber       0.1    1.4      0.4
Tomato         0.3    4.2      0.8

In [15]:
df['Protein']

VegetableName
Cucumber    0.4
Tomato      0.8
Potato      1.0
Onion       0.9
Name: Protein, dtype: float64

In [16]:
print(type(df['Protein']))

<class 'pandas.core.series.Series'>

In [17]:
# DataFrame needs to be a list
print(type(df[['Protein']]))

<class 'pandas.core.frame.DataFrame'>

In [25]:
protein = df['Protein']
print(type(protein.values))

<class 'numpy.ndarray'>

In [24]:
 dataF = {
    [0.1, 0.3, 0., 0.1],
    [1.4, 4.2, 13., 6.9],
    [0.4, 0.8, 1., 0.9]
    }

df = pd.DataFrame(
    data=dataF,
)
df

<>:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
/var/folders/g2/jdj1wm7n7lqg0315d1ylkc7xw_5p47/T/ipykernel_5078/616544878.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  [0.1, 0.3, 0., 0.1]
/var/folders/g2/jdj1wm7n7lqg0315d1ylkc7xw_5p47/T/ipykernel_5078/616544878.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  [0.1, 0.3, 0., 0.1]
/var/folders/g2/jdj1wm7n7lqg0315d1ylkc7xw_5p47/T/ipykernel_5078/616544878.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  [0.1, 0.3, 0., 0.1]
/var/folders/g2/jdj1wm7n7lqg0315d1ylkc7xw_5p47/T/ipykernel_5078/616544878.py:2: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  [0.1, 0.3, 0., 0.1]

TypeError: list indices must be integers or slices, not tuple

In [27]:
import sqlite3

connection = sqlite3.connect('Files/TitanicDataset.db')

OperationalError: unable to open database file

In [32]:
df['Fat'].value_counts()

0.1    2
0.3    1
0.0    1
Name: Fat, dtype: int64